################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SFML_C++_Simple_Games/.vs/SFML_C++_Simple_Games/v15/.suo
/SFML_C++_Simple_Games/.vs/SFML_C++_Simple_Games/v15/Browse.VC.db
/SFML_C++_Simple_Games/.vs/SFML_C++_Simple_Games/v15/Browse.VC.opendb
/SFML_C++_Simple_Games/.vs/SFML_C++_Simple_Games/v15/ipch/AutoPCH/9ec77ed318506828/MAIN.ipch
/SFML_C++_Simple_Games/SFML_C-_Simple_Games-master.zip
/SFML_C++_Simple_Games/SFML_C++_Simple_Games.sln
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/SFML_C++_Simple_Games.vcxproj
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/SFML_C++_Simple_Games.vcxproj.filters
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/SFML_C++_Simple_Games.vcxproj.user
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/sfml-window-d-2.dll
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/sfml-window-2.dll
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/sfml-system-d-2.dll
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/sfml-system-2.dll
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/sfml-network-d-2.dll
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/sfml-network-2.dll
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/sfml-graphics-d-2.dll
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/sfml-graphics-2.dll
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/sfml-audio-d-2.dll
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/sfml-audio-2.dll
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/openal32.dll
/SFML-2.5.1-windows-vc15-32-bit.zip
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/Debug/vc141.pdb
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/Debug/vc141.idb
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/Debug/SFML_C++_Simple_Games.log
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/Debug/SFML_C++.003DE2BD.tlog/SFML_C++_Simple_Games.lastbuildstate
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/Debug/SFML_C++.003DE2BD.tlog/link.write.1.tlog
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/Debug/SFML_C++.003DE2BD.tlog/link.read.1.tlog
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/Debug/SFML_C++.003DE2BD.tlog/link.command.1.tlog
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/Debug/SFML_C++.003DE2BD.tlog/CL.write.1.tlog
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/Debug/SFML_C++.003DE2BD.tlog/CL.read.1.tlog
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/Debug/SFML_C++.003DE2BD.tlog/CL.command.1.tlog
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/Debug/main.obj
/SFML_C++_Simple_Games/External/lib/vorbisfile.lib
/SFML_C++_Simple_Games/External/lib/vorbisenc.lib
/SFML_C++_Simple_Games/External/lib/vorbis.lib
/SFML_C++_Simple_Games/External/lib/sfml-window.lib
/SFML_C++_Simple_Games/External/lib/sfml-window-s.lib
/SFML_C++_Simple_Games/External/lib/sfml-window-s-d.pdb
/SFML_C++_Simple_Games/External/lib/sfml-window-s-d.lib
/SFML_C++_Simple_Games/External/lib/sfml-window-d.pdb
/SFML_C++_Simple_Games/External/lib/sfml-window-d.lib
/SFML_C++_Simple_Games/External/lib/sfml-system.lib
/SFML_C++_Simple_Games/External/lib/sfml-system-s.lib
/SFML_C++_Simple_Games/External/lib/sfml-system-s-d.pdb
/SFML_C++_Simple_Games/External/lib/sfml-system-s-d.lib
/SFML_C++_Simple_Games/External/lib/sfml-system-d.pdb
/SFML_C++_Simple_Games/External/lib/sfml-system-d.lib
/SFML_C++_Simple_Games/External/lib/sfml-network.lib
/SFML_C++_Simple_Games/External/lib/sfml-network-s.lib
/SFML_C++_Simple_Games/External/lib/sfml-network-s-d.pdb
/SFML_C++_Simple_Games/External/lib/sfml-network-s-d.lib
/SFML_C++_Simple_Games/External/lib/sfml-network-d.pdb
/SFML_C++_Simple_Games/External/lib/sfml-network-d.lib
/SFML_C++_Simple_Games/External/lib/sfml-main.lib
/SFML_C++_Simple_Games/External/lib/sfml-main-s-d.pdb
/SFML_C++_Simple_Games/External/lib/sfml-main-d.lib
/SFML_C++_Simple_Games/External/lib/sfml-graphics.lib
/SFML_C++_Simple_Games/External/lib/sfml-graphics-s.lib
/SFML_C++_Simple_Games/External/lib/sfml-graphics-s-d.pdb
/SFML_C++_Simple_Games/External/lib/sfml-graphics-s-d.lib
/SFML_C++_Simple_Games/External/lib/sfml-graphics-d.pdb
/SFML_C++_Simple_Games/External/lib/sfml-graphics-d.lib
/SFML_C++_Simple_Games/External/lib/sfml-audio.lib
/SFML_C++_Simple_Games/External/lib/sfml-audio-s.lib
/SFML_C++_Simple_Games/External/lib/sfml-audio-s-d.pdb
/SFML_C++_Simple_Games/External/lib/sfml-audio-s-d.lib
/SFML_C++_Simple_Games/External/lib/sfml-audio-d.pdb
/SFML_C++_Simple_Games/External/lib/sfml-audio-d.lib
/SFML_C++_Simple_Games/External/lib/openal32.lib
/SFML_C++_Simple_Games/External/lib/ogg.lib
/SFML_C++_Simple_Games/External/lib/freetype.lib
/SFML_C++_Simple_Games/External/lib/flac.lib
/SFML_C++_Simple_Games/External/lib/cmake/SFML/SFMLStaticTargets.cmake
/SFML_C++_Simple_Games/External/lib/cmake/SFML/SFMLStaticTargets-release.cmake
/SFML_C++_Simple_Games/External/lib/cmake/SFML/SFMLStaticTargets-debug.cmake
/SFML_C++_Simple_Games/External/lib/cmake/SFML/SFMLSharedTargets.cmake
/SFML_C++_Simple_Games/External/lib/cmake/SFML/SFMLSharedTargets-release.cmake
/SFML_C++_Simple_Games/External/lib/cmake/SFML/SFMLSharedTargets-debug.cmake
/SFML_C++_Simple_Games/External/lib/cmake/SFML/SFMLConfigVersion.cmake
/SFML_C++_Simple_Games/External/lib/cmake/SFML/SFMLConfigDependencies.cmake
/SFML_C++_Simple_Games/External/lib/cmake/SFML/SFMLConfig.cmake
/SFML_C++_Simple_Games/External/include/SFML/Window.hpp
/SFML_C++_Simple_Games/External/include/SFML/Window/WindowStyle.hpp
/SFML_C++_Simple_Games/External/include/SFML/Window/WindowHandle.hpp
/SFML_C++_Simple_Games/External/include/SFML/Window/Window.hpp
/SFML_C++_Simple_Games/External/include/SFML/Window/VideoMode.hpp
/SFML_C++_Simple_Games/External/include/SFML/Window/Touch.hpp
/SFML_C++_Simple_Games/External/include/SFML/Window/Sensor.hpp
/SFML_C++_Simple_Games/External/include/SFML/Window/Mouse.hpp
/SFML_C++_Simple_Games/External/include/SFML/Window/Keyboard.hpp
/SFML_C++_Simple_Games/External/include/SFML/Window/Joystick.hpp
/SFML_C++_Simple_Games/External/include/SFML/Window/GlResource.hpp
/SFML_C++_Simple_Games/External/include/SFML/Window/Export.hpp
/SFML_C++_Simple_Games/External/include/SFML/Window/Event.hpp
/SFML_C++_Simple_Games/External/include/SFML/Window/Cursor.hpp
/SFML_C++_Simple_Games/External/include/SFML/Window/ContextSettings.hpp
/SFML_C++_Simple_Games/External/include/SFML/Window/Context.hpp
/SFML_C++_Simple_Games/External/include/SFML/Window/Clipboard.hpp
/SFML_C++_Simple_Games/External/include/SFML/System.hpp
/SFML_C++_Simple_Games/External/include/SFML/System/Vector3.inl
/SFML_C++_Simple_Games/External/include/SFML/System/Vector3.hpp
/SFML_C++_Simple_Games/External/include/SFML/System/Vector2.inl
/SFML_C++_Simple_Games/External/include/SFML/System/Vector2.hpp
/SFML_C++_Simple_Games/External/include/SFML/System/Utf.inl
/SFML_C++_Simple_Games/External/include/SFML/System/Utf.hpp
/SFML_C++_Simple_Games/External/include/SFML/System/Time.hpp
/SFML_C++_Simple_Games/External/include/SFML/System/ThreadLocalPtr.inl
/SFML_C++_Simple_Games/External/include/SFML/System/ThreadLocalPtr.hpp
/SFML_C++_Simple_Games/External/include/SFML/System/ThreadLocal.hpp
/SFML_C++_Simple_Games/External/include/SFML/System/Thread.inl
/SFML_C++_Simple_Games/External/include/SFML/System/Thread.hpp
/SFML_C++_Simple_Games/External/include/SFML/System/String.inl
/SFML_C++_Simple_Games/External/include/SFML/System/String.hpp
/SFML_C++_Simple_Games/External/include/SFML/System/Sleep.hpp
/SFML_C++_Simple_Games/External/include/SFML/System/NonCopyable.hpp
/SFML_C++_Simple_Games/External/include/SFML/System/NativeActivity.hpp
/SFML_C++_Simple_Games/External/include/SFML/System/Mutex.hpp
/SFML_C++_Simple_Games/External/include/SFML/System/MemoryInputStream.hpp
/SFML_C++_Simple_Games/External/include/SFML/System/Lock.hpp
/SFML_C++_Simple_Games/External/include/SFML/System/InputStream.hpp
/SFML_C++_Simple_Games/External/include/SFML/System/FileInputStream.hpp
/SFML_C++_Simple_Games/External/include/SFML/System/Export.hpp
/SFML_C++_Simple_Games/External/include/SFML/System/Err.hpp
/SFML_C++_Simple_Games/External/include/SFML/System/Clock.hpp
/SFML_C++_Simple_Games/External/include/SFML/OpenGL.hpp
/SFML_C++_Simple_Games/External/include/SFML/Network.hpp
/SFML_C++_Simple_Games/External/include/SFML/Network/UdpSocket.hpp
/SFML_C++_Simple_Games/External/include/SFML/Network/TcpSocket.hpp
/SFML_C++_Simple_Games/External/include/SFML/Network/TcpListener.hpp
/SFML_C++_Simple_Games/External/include/SFML/Network/SocketSelector.hpp
/SFML_C++_Simple_Games/External/include/SFML/Network/SocketHandle.hpp
/SFML_C++_Simple_Games/External/include/SFML/Network/Socket.hpp
/SFML_C++_Simple_Games/External/include/SFML/Network/Packet.hpp
/SFML_C++_Simple_Games/External/include/SFML/Network/IpAddress.hpp
/SFML_C++_Simple_Games/External/include/SFML/Network/Http.hpp
/SFML_C++_Simple_Games/External/include/SFML/Network/Ftp.hpp
/SFML_C++_Simple_Games/External/include/SFML/Network/Export.hpp
/SFML_C++_Simple_Games/External/include/SFML/Main.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/View.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/VertexBuffer.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/VertexArray.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/Vertex.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/Transformable.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/Transform.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/Texture.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/Text.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/Sprite.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/Shape.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/Shader.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/RenderWindow.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/RenderTexture.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/RenderTarget.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/RenderStates.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/RectangleShape.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/Rect.inl
/SFML_C++_Simple_Games/External/include/SFML/Graphics/Rect.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/PrimitiveType.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/Image.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/Glyph.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/Glsl.inl
/SFML_C++_Simple_Games/External/include/SFML/Graphics/Glsl.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/Font.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/Export.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/Drawable.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/ConvexShape.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/Color.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/CircleShape.hpp
/SFML_C++_Simple_Games/External/include/SFML/Graphics/BlendMode.hpp
/SFML_C++_Simple_Games/External/include/SFML/GpuPreference.hpp
/SFML_C++_Simple_Games/External/include/SFML/Config.hpp
/SFML_C++_Simple_Games/External/include/SFML/Audio.hpp
/SFML_C++_Simple_Games/External/include/SFML/Audio/SoundStream.hpp
/SFML_C++_Simple_Games/External/include/SFML/Audio/SoundSource.hpp
/SFML_C++_Simple_Games/External/include/SFML/Audio/SoundRecorder.hpp
/SFML_C++_Simple_Games/External/include/SFML/Audio/SoundFileWriter.hpp
/SFML_C++_Simple_Games/External/include/SFML/Audio/SoundFileReader.hpp
/SFML_C++_Simple_Games/External/include/SFML/Audio/SoundFileFactory.inl
/SFML_C++_Simple_Games/External/include/SFML/Audio/SoundFileFactory.hpp
/SFML_C++_Simple_Games/External/include/SFML/Audio/SoundBufferRecorder.hpp
/SFML_C++_Simple_Games/External/include/SFML/Audio/SoundBuffer.hpp
/SFML_C++_Simple_Games/External/include/SFML/Audio/Sound.hpp
/SFML_C++_Simple_Games/External/include/SFML/Audio/OutputSoundFile.hpp
/SFML_C++_Simple_Games/External/include/SFML/Audio/Music.hpp
/SFML_C++_Simple_Games/External/include/SFML/Audio/Listener.hpp
/SFML_C++_Simple_Games/External/include/SFML/Audio/InputSoundFile.hpp
/SFML_C++_Simple_Games/External/include/SFML/Audio/Export.hpp
/SFML_C++_Simple_Games/External/include/SFML/Audio/AlResource.hpp
/SFML_C++_Simple_Games/Debug/SFML_C++_Simple_Games.pdb
/SFML_C++_Simple_Games/Debug/SFML_C++_Simple_Games.ilk
/SFML_C++_Simple_Games/Debug/SFML_C++_Simple_Games.exe
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/Debug/Game.obj
*.ipch
