################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SFML_C++_Simple_Games/.vs/SFML_C++_Simple_Games/v15/.suo
/SFML_C++_Simple_Games/.vs/SFML_C++_Simple_Games/v15/Browse.VC.db
/SFML_C++_Simple_Games/.vs/SFML_C++_Simple_Games/v15/Browse.VC.opendb
/SFML_C++_Simple_Games/.vs/SFML_C++_Simple_Games/v15/ipch/AutoPCH/9ec77ed318506828/MAIN.ipch
/SFML_C++_Simple_Games/SFML_C-_Simple_Games-master.zip
/SFML_C++_Simple_Games/SFML_C++_Simple_Games.sln
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/SFML_C++_Simple_Games.vcxproj
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/SFML_C++_Simple_Games.vcxproj.filters
/SFML_C++_Simple_Games/SFML_C++_Simple_Games/SFML_C++_Simple_Games.vcxproj.user
