################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SFML_C++_Simple_Games/.vs/SFML_C++_Simple_Games/v15/.suo
